

.mini{
	width: 15%;
	border-radius: 50%;
}

#dcb{
	font-style: italic;
}

#experience{
	text-decoration: overline;
	text-decoration-color: yellow;
	color: steelblue;
}

#competence{
	text-decoration: overline;
	text-decoration-color: yellow;
	color: steelblue;
}

#formation{
	text-decoration: overline;
	text-decoration-color: yellow;
	color: steelblue;
}

#dow{
	display: block;
	background: #00a9d4;
	color: #fff;
	padding: 7px;
	cursor: pointer;
	width: 200px;
	border-radius: 10px;
	font-size: 20px;
}

#dow:hover{
	background: darkcyan;
}

body{
	flex: auto;
	flex-direction: row;
	background: lightblue;
}
footer{
	background: darkcyan;
	text-align: center;
}